.text-with-icon {
  display: flex;
  align-items: center;

  &--green & {
    &__icon {
      color: $green-haze;
    }

    &__text {
      color: $green-haze;
    }
  }

  &__icon {
    display: flex;
  }

  &__text {
    &--size {
      &-normal {
        @include text-normal($font-weight-regular);
      }

      &-small {
        @include text-small($font-weight-regular);
      }
    }
  }
  
  &__icon + &__text,
  &__text + &__icon {
    margin-left: rem($gap-little);
  }
}
