.range {
  width: 100%;

  &__row {
    display: flex;
    &--space-between {
      justify-content: space-between;
    }
  }

  &__col {
    margin-right: rem($gap-medium);

    @include resetting-horizontal-indentation-of-last;

    &--input {
      width: 100%;
      @media #{$screen-laptop} {
        width: rem(218px);
      }
    }
  }

  &__input {
    $size: 19px;
    display: flex;
    align-items: center;

    height: rem($size);

    &:hover & {
      &::-webkit-slider-thumb {
        background-color: $jungle-green2;
      }

      &-thumb {
        background-color: $jungle-green2;
      }
    }

    &-wrapper {
      position: relative;

      width: 100%;
      height: rem(3px);

      background-color: $iron;
    }

    &-control {
      -webkit-appearance: none;
      position: absolute;
      top: 0;
      left: 0;

      cursor: pointer;

      width: 100%;
      height: rem(3px);
      margin: 0;
      padding: 0;

      background-color: transparent;

      &::-webkit-slider-thumb {
        $size: 19px;
        -webkit-appearance: none;
        position: relative;
        z-index: 2;

        width: rem($size);
        height: rem($size);

        transition: background-color $transition-duration $transition-function;

        border: 0;
        border-radius: 50%;
        background-color: $jungle-green;
      }
      &::-moz-range-thumb {
        $size: 19px;

        position: relative;
        z-index: 2;

        width: rem($size);
        height: rem($size);

        transition: background-color $transition-duration $transition-function;

        border: 0;
        border-radius: 50%;
        background-color: $jungle-green;
      }
    }

    &-fill {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      cursor: pointer;

      width: 50%;
      height: rem(3px);

      transition: background-color $transition-duration $transition-function;

      background-color: $jungle-green;
    }
  }
}
