.content {
  display: flex;
  flex-direction: column;

  @media #{$screen-laptop} {
    flex-direction: row;
  }

  &__aside {
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
    @media #{$screen-laptop} {
      position: initial
      ;
      width: rem(264px);
    }
  }

  &__main {
    order: 1;
    @media #{$screen-laptop} {
      order: initial;
      width: 75%;
      flex-grow: 1;
    }
  }

  &__aside + &__main,
  &__main + &__aside {
    @media #{$screen-laptop} {
      margin-left: rem($gap-normal);
    }
  }
}
