.select {
  width: 100%;

  cursor: pointer;

  &:hover {
    border-color: $shark;
  }
  &:hover & {
    &__wrap {
      border-color: $shark;
    }
  }

  &:focus-within & {
    &__wrap {
      border-color: $jungle-green2;
    }
  }
  &--size {
    &-small {
      $size: 80px;
      @media #{$screen-laptop} {
        width: rem($size);
      }
    }

    &-normal {
      $size: 192px;
      @media #{$screen-laptop} {
        width: rem($size);
      }
    }

    &--medium {
      $size: 218px;

      @media #{$screen-laptop} {
        width: rem($size);
      }
    }

    &-big {
      $size: 296px;
      @media #{$screen-laptop} {
        width: rem($size);
      }
    }

    &-huge {
      $size: 336px;
      @media #{$screen-laptop} {
        width: rem($size);
      }
    }
  }

  &--simple & {
    &__wrap {
      padding: 0;
      height: initial;
      max-width: rem(336px);
      
      border: 0;
      background: transparent;
    }

    &__input {
      flex-grow: 0;
      width: initial;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;

    height: rem(40px);
    padding: rem($gap-little) rem($gap-smaller);

    border: $border-default;
    border-radius: $border-radius;
    background: $white;

    transition: border-color $transition-duration $transition-function;
  }

  &__input {
    flex-grow: 1;

    cursor: pointer;

    width: 100%;

    color: $shark;
    outline: none;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: $nevada;
    }
  }
}
